.food-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.food-form label {
  margin-bottom: 0.5rem;
}

.food-form input,
.food-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.food-form button {
  padding: 0.7rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.food-form button:hover {
  background-color: #218838;
}
